* {
  margin: 0;
  padding: 0;
}

.wrapper {
  height: 100vh;
  background-color: rgb(20, 30, 35);
}

.title {
  padding: 20px 0 20px 20px;
  color: rgb(150, 150, 150);
}

canvas {
  display: block;
  background-image: url('../img/bg.jpg');
  background-size: cover;
}
